.body-ctn > .main-ctn {
  grid-area: main;
  background: #f6f8fa;
  border: 1px solid blue;
  padding: 1rem 2rem;
}

.main-flex-box {
  display: flex;
  flex-direction: column;
}

/* cars sct   */
.main-flex-box .cars-sct {
  border: 1px solid #0f0;
}

.cars-sct .car-ctn {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.94rem;
  gap: 2.6rem;
}

.cars-sct h4 {
  color: #1f384c;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4375rem;
  letter-spacing: 0.03125rem;
}

.main-flex-box .cars-sct .car-ctn .item {
  width: 16.0625rem;
  height: 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #fff;
}

.car-ctn .car-box {
  width: 3.9375rem;
  height: 3.9375rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: var(--bg);
  /* padding: 3.93px; */
}

.car-box svg {
  width: 2.42306rem;
  height: 2.42306rem;
  flex-shrink: 0;
  margin: 0.76rem 0.71rem;
}

.car-ctn .car-txt {
  margin-left: 1.13rem;
}

.car-txt .percent {
  color: #1f384c;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6875rem;
  letter-spacing: 0.0045rem;
}

.car-txt .id {
  color: #80809c;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.003rem;
}

.car-txt #small-txt {
  color: #149d52;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.75rem;
  letter-spacing: 0.03125rem;
}

/* stats sct  */
.main-ctn .stats-sct {
  margin-top: 1.38rem;
  border: 1px solid #f00;
}

/* overview sct */
.main-ctn .overview-sct {
  background: #ffffff;
  border: 1px solid #0f0;
  margin-top: 2.5rem;
}

.overview-sct div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1f384c;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6875rem;
  letter-spacing: 0.00338rem;
  padding: 1.81rem 0 1.75rem 2rem;
}

.overview-sct div:nth-child(1) input {
  width: 12.375rem;
  height: 3.125rem;
  flex-shrink: 0;
  border: none;
  border-radius: 0.625rem;
  background: #f6f8fa;
  color: #b0b0b0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.003rem;
  padding: 0.81rem 1.19rem;
}

.overview-sct > table {
  /* width: fit-content;
  display: flex;
  flex-direction: column; */
  margin: 1.81rem 0 1.75rem 2rem;
  hyphens: auto;
}

.overview-sct > table th,
.overview-sct > table td {
    margin: 1rem;
}

.overview-sct > table thead tr:nth-child(1) {
  background: rgba(243, 246, 249, 1);
}

.overview-sct > table tr th:nth-child(2),
.overview-sct > table tr td:nth-child(2) {
  padding: 1rem 0 0.94rem 1.69rem;
}

.overview-sct > table thead th {
  text-align: left;
}

.overview-sct > table thead th:nth-child(3),
.overview-sct > table tr td:nth-child(3) {
  padding: 1rem 0 0.94rem 10.81rem;
}

.overview-sct > table tr th:nth-child(4),
.overview-sct > table tr td:nth-child(4),
.overview-sct > table tr th:nth-child(5),
.overview-sct > table tr td:nth-child(5) {
  padding: 1rem 0 0.94rem 2.69rem;
}

.overview-sct tbody tr:nth-child(2n) {
  background: rgba(243, 246, 249, 0.5);
}
