.body-ctn > .main-ctn {
  grid-area: main;
  background: #f6f8fa;
  padding: 1rem 2rem;
}

.main-flex-box {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}

/* cars sct */
.cars-sct {
  width: 100%;
}

.cars-sct .car-ctn {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 1.94rem;
  gap: 2.6rem;
}

.cars-sct h4 {
  color: #1f384c;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4375rem;
  letter-spacing: 0.03125rem;
}

.main-flex-box .cars-sct .car-ctn .item {
  width: 16.0625rem;
  height: 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 0.625rem;
  background: #fff;
}

.car-ctn .car-box {
  width: 3.9375rem;
  height: 3.9375rem;
  flex-shrink: 0;
  
  border-radius: 0.625rem;
  background: var(--bg);
}

.car-box svg {
  width: 2.42306rem;
  height: 2.42306rem;
  flex-shrink: 0;
  margin: 0.76rem 0.71rem;
}

.car-ctn .car-txt {
  margin-left: 1.13rem;
}

.car-txt .percent {
  color: #1f384c;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6875rem;
  letter-spacing: 0.0045rem;
}

.car-txt .id {
  color: #80809c;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.003rem;
}

.car-txt #small-txt {
  color: #149d52;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.75rem;
  letter-spacing: 0.03125rem;
}