/* sidebar */
.sidebar {
  grid-area: sidebar;
  width: 100%;
  box-sizing: border-box;
  font-size: .9rem;

  background: #0100390a;
}

.sidebar .sidebar-logo {
  width: 100%;
  text-align: center;

  line-height: 1.8em;
  font-weight: 400;
  font-size: 2.5em;
  font-family: "Poppins", sans-serif;
  color: #000000;
}

.sidebar .sidebar-logo > p {
  position: relative;
  display: block;
  text-align: center;
}

.sidebar .sidebar-logo p::before {
  content: "";
  position: absolute;
  width: .9em;
  height: .9em;
  top: 0.5em;
  z-index: -1;

  border-radius: 1em;
  background: #50a8e8;
}

.sidebar > .main-content {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2.5em 2.5em 0 1.25em;
}

.main-content .options {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.main-content .flex-box-option {
  display: flex;
  width: 10em;
  align-items: center;
  gap: 0.75em;

  word-wrap: break-word;
  hyphens: auto;
}

.flex-box-option .option-type {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;

  color: #767d87;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.003em;
}

#dashboard-btn {
  display: flex;
  width: 10em;
  height: 3em;
  justify-content: center;
  align-items: center;
  gap: 0.75em;

  border: none;
  border-radius: 0.6em;
  background: rgba(80, 65, 120, 0.2);
}

.main-content .options li:nth-child(1) {
  color: #082431;
  font-family: "Poppins", sans-serif;
  font-size: 0.6em;
  font-style: normal;
  font-weight: 400;
  line-height: 0.6em;
  letter-spacing: 0.06em;
}

.main-content .options:nth-child(2) {
  margin: 2.5em 0;
}

@media  screen and (max-width: 1000px) {
  .sidebar {
    font-size: .5rem;
  }

  #dashboard-btn {
    width: 7em;
  }
}

@media  screen and (max-width: 910px) {
  #dashboard-btn,
  .sidebar {
    font-size: .45rem;
  }
}

@media screen and (max-width: 680px) {
  #dashboard-btn {
    font-size: .6rem; 
  }
  .sidebar .sidebar-logo > p {
    top: 0.6em;
  }
}