@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=La+Belle+Aurore&family=Marck+Script&family=Monoton&family=Poppins:ital,wght@0,200;1,100;1,400&display=swap');

button:hover, a:hover {
  cursor: pointer;
}

body {
  width: 100%;
  height: 100%;
}

.body-ctn {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "sidebar head"
    "sidebar main";
  grid-template-rows: 4rem calc(100% - 4rem);
  grid-template-columns: 15rem calc(100% - 15rem);
}

.body-ctn .body-item {
  border: 1px solid #f00;
  box-sizing: border-box;
}

.body-ctn > .header-ctn {
  grid-area: head;
  width: 100%;
  /* position: fixed;
  top: 0;
  right: 0; */
  padding: 1rem 2rem;
}

.body-ctn > .sidebar {
  grid-area: sidebar;
}

.body-ctn > .main-ctn {
  grid-area: main;
}